{% extends "core/base.html" %}

{% block title %}About Iksadyayinevi{% endblock %}

{% block content %}
<!-- About Section -->
<div class="container mx-auto mt-8 px-4">
    <h1 class="text-3xl font-bold text-center mb-6">About Iksadyayinevi</h1>
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold">The Brand</h2>
        <p class="mt-4">
            As a fast-growing professional academic open access publisher, IKSAD International Publishing House was established in 2014 by the Institute of Economic Development and Social Researches in Turkey.
        </p>
        <p class="mt-4">
            We take pride in our vast experience in the publication process of multidisciplinary scientific, social sciences, technical, and medical studies. The mission of IKSAD is to maximize the dissemination of knowledge through its commitment to providing high-quality, rapid services at competitive prices. IKSAD Publishing House is a member of the Publishers International Linking Association (CrossRef).
        </p>
        <p class="mt-4">
            We are dedicated to the quality of the end product that IKSAD produces for its clients. In today’s competitive world, we are always looking for ways to provide the scientific community with services that are faster and less expensive, but still quality-driven.
        </p>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-lg mt-6">
        <h2 class="text-2xl font-bold">Publication Guidelines</h2>
        <ul class="list-disc list-inside mt-4">
            <li><a href="https://0a1022d4-6e69-4240-8e53-20f5c891f2c6.filesusr.com/ugd/614b1f_db950fb753c4445aa55e973f4d331341.pdf" class="text-blue-500 hover:underline">EN: English Guideline</a></li>
            <li><a href="https://0a1022d4-6e69-4240-8e53-20f5c891f2c6.filesusr.com/ugd/614b1f_4bfc7a05058d49878312747d93438e9d.pdf" class="text-blue-500 hover:underline">RU: Russian Guideline</a></li>
            <li><a href="https://0a1022d4-6e69-4240-8e53-20f5c891f2c6.filesusr.com/ugd/614b1f_d9031bcf87384418bff4e67932e4383c.pdf" class="text-blue-500 hover:underline">GH: Georgian Guideline</a></li>
        </ul>
    </div>

    <div class="bg-gray-100 p-6 rounded-lg shadow-lg mt-6">
        <h2 class="text-2xl font-bold">Our Id</h2>
        <p class="mt-4"><strong>Country:</strong> Republic of Turkey</p>
        <p class="mt-4"><strong>Establishment Date:</strong> 2014</p>
        <p class="mt-4"><strong>Licensed:</strong> Republic of Turkey Ministry of Culture and Tourism</p>
        <p class="mt-4"><strong>Publication Accreditation:</strong> International</p>
        <p class="mt-4"><strong>License Number:</strong> 2014/31220</p>
    </div>
</div>
{% endblock %}