{% extends "core/base.html" %}
{% load custom_filters %}
{% load i18n %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <h1 class="text-3xl font-bold">{% trans 'Your Cart' %}</h1>
    {% if cart_items %}
    <div class="overflow-x-auto mt-4">
        <table class="table-auto w-full min-w-max">
            <thead>
                <tr>
                    <th class="px-4 py-2">{% trans 'Book' %}</th>
                    <th class="px-4 py-2">{% trans 'Quantity' %}</th>
                    <th class="px-4 py-2">{% trans 'Price' %}</th>
                    <th class="px-4 py-2">{% trans 'Total' %}</th>
                    <th class="px-4 py-2">{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td class="border px-4 py-2">{{ item.book.title }}</td>
                    <td class="border px-4 py-2">{{ item.quantity }}</td>
                    <td class="border px-4 py-2">${{ item.book.price|floatformat:2 }}</td>
                    <td class="border px-4 py-2">${{ item.book.price|multiply:item.quantity|floatformat:2 }}</td>
                    <td class="border px-4 py-2">
                        <div class="flex items-center">
                            <a href="{% url 'remove_one_from_cart' item.book.id %}" class="bg-red-500 text-white px-2 py-1 rounded">-</a>
                            <span class="mx-2">{{ item.quantity }}</span>
                            <a href="{% url 'add_one_to_cart' item.book.id %}" class="bg-green-500 text-white px-2 py-1 rounded">+</a>
                            <a href="{% url 'remove_from_cart' item.book.id %}" class="bg-red-500 text-white px-3 py-1 rounded ml-2">{% trans 'Remove' %}</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4">
        <h2 class="text-2xl font-bold">{% trans 'Total' %}: ${{ total_price }}</h2>
        <a href="{% url 'checkout' %}" class="bg-blue-500 text-white px-4 py-2 rounded mt-4 inline-block">{% trans 'Proceed to Checkout' %}</a>
    </div>
    {% else %}
    <p class="mt-4">{% trans 'Your cart is empty.' %}</p>
    {% endif %}
    <hr class="my-4">
</div>
{% endblock %}