{% extends "core/base.html" %}
{% load custom_filters %}
{% load i18n %}
{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold">{% trans 'Checkout' %}</h1>
    <form method="post">
        {% csrf_token %}
        <table class="table-auto w-full mt-4">
            <thead>
                <tr>
                    <th class="px-4 py-2">{% trans 'Book' %}</th>
                    <th class="px-4 py-2">{% trans 'Quantity' %}</th>
                    <th class="px-4 py-2">{% trans 'Price' %}</th>
                    <th class="px-4 py-2">{% trans 'Total' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td class="border px-4 py-2">{{ item.book.title }}</td>
                    <td class="border px-4 py-2">{{ item.quantity }}</td>
                    <td class="border px-4 py-2">${{ item.book.price }}</td>
                    <td class="border px-4 py-2">${{ item.book.price|multiply:item.quantity|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-4">
            <h2 class="text-2xl font-bold"> {% trans 'Total' %}: ${{ total_price }}</h2>
            {% comment %} <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4 inline-block">Pay Now</button> {% endcomment %}
        </div>
    </form>
    {{ paypal_form.render}}
</div>
{% endblock %}